{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> "header"}} 
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="page-content">
            <form>
                <label for="search-field">
                    <i class="ll-social-icon icon-search"></i>
                    <input id="search-field" />
                </label>
            </form>
        </div>

        <section id="results" class="posts-list">
            <span id="initialResults">
                <p>Displaying the most recent 30 posts.</p>
                {{#get "posts" limit="30" order="desc" include="authors"}}            
                    {{#foreach posts}}
                        {{> "post-card-mini"}}
                    {{/foreach}}
                {{/get}}
            </span>
        </section>
    </div>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in
default.hbs --}}
{{#contentFor "scripts"}}
<script type="text/javascript" src="{{asset "ghostHunter/dist/jquery.ghosthunter.js"}}"></script>
<script>
    $("#search-field").ghostHunter({
        results: "#results"
    });
</script>
{{/contentFor}}