{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "header"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
    
        <header class="post-full-header">
            <h1 class="post-full-title">About Last Life</h1>
        </header>

        <div class="page-content">
            <section class="page-description">
                <p>Last Life is an online community that aims to foster thoughtful discussion of games and the 
                many ways that they enrich our lives. The site itself is host to a collection of such content, 
                typically in the form of video essays by our team of <a href="/creators">content creators</a>.
                We also have a dedicated <a href="/forum/">forum</a> for in-depth discussion with other users 
                on a wide variety of topics.</p>
                <p>Of course, no gaming community is complete without a Discord server, and you can find ours 
                <a href="#DISCORDLINK">right here</a>.</p>
                <p>Stay tuned here or on our social media channels for community game 
                nights, special live streams, major site updates, and other goings-on:</p>
            </section>

            <section id="links">
                <div class="social-media-links">    
                    <a href="https://twitter.com/lastlifedotnet" class="twitter" tooltip="Twitter: lastlifedotnet"><i class="ll-social-icon icon-twitter"></i></a>
                    <!--
                    Probably sometime soon... 
                    <a href="#MastadonInstanceLink" class="Mastadon" tooltip="Mastadon: lastlifedotnet@[get an instance here]"><i class="ll-social-icon icon-mastadon"></i></a> 
                    -->
                    <a href="#youtubechannel" class="youtube" tooltip="YouTube"><i class="ll-social-icon icon-youtube"></i></a>
                    <a href="#steamgrouplink" class="steam" tooltip="Last Lifers Steam Group"><i class="ll-social-icon icon-steam"></i></a>
                </div>
            </section>
        </div>

    </div>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
$(document).ready((function() {
}));
</script>
{{/contentFor}}